<div class="container">
    <!-- Header -->
    <header>
      <h1 class="title">Diseño de interfaces</h1>
      <h2 class="subtitle">Deberes dados por el ingeniero Diego Yánez</h2>
    </header>
  
    <!-- Navbar -->
    <nav class="navbar">
      <button pButton label="Matrices" class="p-button-raised p-button-text" routerLink="/matrices"></button>
      <button pButton label="Cards e imágenes" class="p-button-raised p-button-text" routerLink="/cards"></button>
      <button pButton label="Galería" class="p-button-raised p-button-text" routerLink="/galeria"></button>
    </nav>
  
    <!-- Footer -->
    <footer>
      <p>Derechos reservados de Pablo Reyes</p>
      <p>pjr.reyes&#64;yavirac.edu.ec</p>
    </footer>
  </div>
  